# Everything needed in production

# Flask
Flask==0.12.2
MarkupSafe==1.0
Werkzeug==0.14.1
Jinja2==2.10
itsdangerous==0.24
click>=5.0

# Webpack
flask-webpack==0.1.0

# Caching
Flask-Caching>=1.0.0

# Bcrypt
flask-bcrypt==0.7.1

# Csrf
flask-wtf==0.14.2

# Debug toolbar
Flask-DebugToolbar==0.10.1

# Numpy
numpy==1.14.1

# Pandas
pandas==0.22.0

# Docs
Sphinx==1.7.1

# Testing
pytest==3.4.0
WebTest==2.0.29
factory-boy==2.10.0

# Lint and code style
flake8==3.5.0
flake8-blind-except==0.1.1
flake8-debugger==3.0.0
flake8-docstrings==1.1.0
flake8-isort==2.3
flake8-quotes==0.13.0
isort==4.3.1
pep8-naming==0.5.0



