/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
    overflow-y: scroll;
}

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #eaeaea;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

footer a {
    color: #eaeaea;
}

footer p {
    float: right;
    margin-right: 25px;
}

footer ul {
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 10px;
}

footer .company {
    float: left;
    margin-left: 25px;
}

footer .footer-nav {
    float: right;
    margin-right: 25px;
    list-style: none;
}

a {
    cursor: pointer;
}
