{% extends "layout.html" %}

{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="row">
        <div class="col s12 center">
            <h1>Data healer</h1>
        </div>
    </div>

    <div class="body-content">
        <div class="row">
            <div class="col s6">
                Aquí irán los botones para la categorización
            </div>
            <div class="col s6">
                Aquí irán los atributos a mostrar
            </div>
        </div>
    </div>

{% endblock %}

