{% extends "base.html" %}

{% block content %}

    <div id="summary-card" class="row">
        <div class="col s6 offset-s3">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Summary before you start</span>
                    <ul>
                        <li>
                            <strong>CSV separator: </strong>
                            {% raw %}{{ separator }}{% endraw %}
                        </li>
                        <li>
                            <strong>Input file: </strong>
                            {% raw %}{{ input_file }}{% endraw %}
                        </li>
                        <li>
                            <strong>Columns to show: </strong>
                            {% raw %}{{ utils.listToStr(columns_to_show) }}{% endraw %}
                        </li>
                        <li>
                            <strong>Help column: </strong>
                            {% raw %}{{ help_column }}{% endraw %}
                        </li>
                        <li>
                            <strong>Output file: </strong>
                            {% raw %}{{ output_file }}{% endraw %}
                        </li>
                        <li>
                            <strong>Inferred column: </strong>
                            {% raw %}{{ inferred_column }}{% endraw %}
                        </li>
                    </ul>
                    <div class="row" v-if="help_column != ''">
                        Pressing <strong>enter</strong> you are selecting the default option (help column).
                    </div>
                </div>
                <div class="card-action">
                    <a v-on:click="check_confs()">Start</a>
                </div>
            </div>
        </div>
    </div>

    <div id="app-card" class="row" style="display: None">
        <div class="offset-s1 col s7">
            <h4 class="white-text thin">Row data</h4>
            <div class="card">
                <div class="card-content">
                    <ul class="collection">
                        <li class="collection-item" v-for="(value, key) in row" v-if="key != help_column">
                            {% raw %}{{ value }}{% endraw %}
                        </li>
                    </ul>
                </div>
                <a class="btn-floating btn-large halfway-fab waves-effect waves-light red"
                   title="Discard row" v-on:click="nextRow()">
                    <i class="fa fa-thumbs-down"></i>
                </a>
            </div>
        </div>

        <div class="col s3">
            <h4 class="white-text thin">Categories</h4>
            <div class="row" v-for="category in categories">
                <div class="col s12 center">
                     <button id="default-category-button"
                             class="waves-effect waves-light btn-large orange accent-4 category-button"
                             v-if="category == row[help_column]" v-on:click="postRow($event)">
                        {% raw %}{{ category }}{% endraw %}
                     </button>
                     <button class="waves-effect waves-light btn-large orange accent-2 category-button"
                             v-if="category != row[help_column]" v-on:click="postRow($event)">
                        {% raw %}{{ category }}{% endraw %}
                     </button>
                </div>
            </div>
        </div>
    </div>

    <div id="finish-card" class="row" style="display: None">
        <div class="col s6 offset-s3">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Finish</span>
                    Your output file is <strong>{% raw %}{{ output_file }}{% endraw %}</strong>. <br>
                    It has the column <strong>{% raw %}{{ inferred_column }}{% endraw %}</strong> with your selections.
                </div>
            </div>
        </div>
    </div>


{% endblock %}

