{% extends "base.html" %}

{% block content %}

    <div id="config-card" class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Configuration</span>
                    <div class="row" style="margin-top: 3%">
                        <div class="input-field col s12 m6 l8">
                            <input placeholder="/path/to/input.csv" type="text" class="validate" v-model="input_file">
                            <label for="input file">CSV input file</label>
                        </div>
                        <div class="col s12 m6 l4" style="padding-top: 1.5%; padding-left: 5%">
                            <input name="separator-group" type="radio" id="semicolon" checked
                                   v-model="separator" value="semicolon"/>
                            <label  for="semicolon"><strong>;</strong> column separator</label>
                            <input name="separator-group" type="radio"  id="coma"
                                   v-model="separator" value="coma"/>
                            <label  for="coma"><strong>,</strong> column separator</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6 l8">
                            <input placeholder="Column names , separated" type="text"
                                   class="validate" v-model="columns_to_show">
                            <label for="columns to show">Columns to show</label>
                        </div>
                        <div class="input-field col s12 m6 l4">
                            <input placeholder="Help column name" type="text" class="validate" v-model="help_column">
                            <label for="help column">Help column</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6 l8">
                            <input placeholder="/path/to/output.csv" type="text" class="validate" v-model="output_file">
                            <label for="output file">CSV output file</label>
                        </div>
                        <div class="input-field col s12 m6 l4">
                            <input placeholder="Class column name" type="text" class="validate" v-model="class_column">
                            <label for="class column">Class column</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input_field col s12 m12 l12">
                            <input placeholder="Coma separated classes" type="text" class="validate" v-model="classes">
                            <label for="classes">Classes</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            Pressing <strong>enter</strong> you are selecting the default option (help column). <br>
                            If you don't have a help column you must to define the classes manually.
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <a v-on:click="start()">Start</a>
                </div>
            </div>
        </div>
    </div>

    <div id="app-card" class="row" style="display: None">
        <div class="col s12 m8 offset-l1 l7">
            <h4 class="white-text thin">Row data</h4>
            <div class="card">
                <div class="card-content">
                    <ul class="collection">
                        <li class="collection-item" v-for="(value, key) in row" v-if="key != help_column">
                            <div class="input-field">
                                <textarea class="materialize-textarea" v-model="row[key]"></textarea>
                                <label class="active">{% raw %}{{ key }}{% endraw %}</label>
                            </div>
                        </li>
                    </ul>
                </div>
                <a class="btn-floating btn-large halfway-fab waves-effect waves-light"
                   title="Get last row" v-on:click="getPreviousRow()" v-if="n_row > 0" style="left: 2%">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn-floating btn-large halfway-fab waves-effect waves-light red"
                   title="Discard row" v-on:click="getNextRow()">
                    <i class="fa fa-thumbs-down"></i>
                </a>
            </div>
        </div>

        <div class="col s12 m4 l3">
            <h4 class="white-text thin">Classes</h4>
            <div class="row" v-for="c in classes">
                <div class="col s12 center">
                     <button id="default-class-button"
                             class="waves-effect waves-light btn-large orange accent-4 class-button"
                             v-if="c == row[help_column]" v-on:click="saveRow($event)">
                        {% raw %}{{ c }}{% endraw %}
                     </button>
                     <button class="waves-effect waves-light btn-large orange accent-2 class-button"
                             v-if="c != row[help_column]" v-on:click="saveRow($event)">
                        {% raw %}{{ c }}{% endraw %}
                     </button>
                </div>
            </div>
        </div>
    </div>

    <div id="finish-card" class="row" style="display: None">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Finish</span>
                    Your output file is <strong>{% raw %}{{ output_file }}{% endraw %}</strong>. <br>
                    It has the column <strong>{% raw %}{{ class_column }}{% endraw %}</strong> with your selections.
                </div>
            </div>
        </div>
    </div>


{% endblock %}

